<h1>Restaurant</h1>
<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %> </p>
<p>
  Reviews:
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
  <% end %>
</p>
<p> <%= link_to 'Give your opinion', new_restaurant_review_path(@restaurant), class: "btn btn-primary"%> </p>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary"%>
